In [2]:
first = input("Enter first name:")
name = "something"
print("Hello", name)

Enter first name:
Hello something

In [3]:
# variables
age = 100
name =  'Nick'
happy = True

In [4]:
age

100

In [5]:
age + 10

110

In [6]:
age = 34

In [7]:
age

34

In [8]:
type(age)

int

In [9]:
type(name)

str

In [10]:
x = 100
type(x)

int

In [11]:
x = "Mike is awesome"
type(x)

str

In [13]:
a = 10
b = 10
a+b

20

In [14]:
a = "10"
b = "10"
type(a)

str

In [15]:
a+b

'1010'

In [16]:
type(b)

str

In [17]:
int(b) + int(a)

20

In [20]:
age = 34.5
int(age+0.5)

35

In [21]:
int(56.3)

56

In [22]:
float(10)

10.0

In [23]:
float("10.4")

10.4

In [25]:
int(     float("10.5")   )

10

In [26]:
int("three")

ValueError: invalid literal for int() with base 10: 'three'

In [31]:
# enter your age and then let you know how old you will be next year
age = int( input("Enter your age: ") )
next_year = age + 1
print(f"This year you are {age}, but next year you will be {next_year}")

Enter your age: No way you arragant bastard.

ValueError: invalid literal for int() with base 10: 'No way you arragant bastard.'

In [29]:
type(age)

str

In [32]:
dir()

['In',
 'Out',
 '_',
 '_10',
 '_11',
 '_12',
 '_13',
 '_14',
 '_15',
 '_16',
 '_17',
 '_18',
 '_19',
 '_20',
 '_21',
 '_22',
 '_23',
 '_25',
 '_29',
 '_4',
 '_5',
 '_7',
 '_8',
 '_9',
 '__',
 '___',
 '__builtin__',
 '__builtins__',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_dh',
 '_i',
 '_i1',
 '_i10',
 '_i11',
 '_i12',
 '_i13',
 '_i14',
 '_i15',
 '_i16',
 '_i17',
 '_i18',
 '_i19',
 '_i2',
 '_i20',
 '_i21',
 '_i22',
 '_i23',
 '_i24',
 '_i25',
 '_i26',
 '_i27',
 '_i28',
 '_i29',
 '_i3',
 '_i30',
 '_i31',
 '_i32',
 '_i4',
 '_i5',
 '_i6',
 '_i7',
 '_i8',
 '_i9',
 '_ih',
 '_ii',
 '_iii',
 '_oh',
 'a',
 'age',
 'b',
 'exit',
 'first',
 'get_ipython',
 'happy',
 'name',
 'next_year',
 'quit',
 'x']

In [33]:
salary = 45000.50
name = "mike"
age = 45

In [35]:
print("His name is %s and his age is %d" % (name,age) )

His name is mike and his age is 45

In [38]:
print("His name is %s and his age is %d" % name, age )
# this is what happens when you forget parenthesis

TypeError: not enough arguments for format string

In [40]:
print("%-20s|%20s" % (name,name))

mike                |                mike

In [42]:
import math
print(math.pi)

3.141592653589793

In [48]:
print("%.1f" % (math.pi))
print("%.2f" % (math.pi))
print("%.3f" % (math.pi))
print("%.4f" % (math.pi))
print("%.5f" % (math.pi))

3.1
3.14
3.142
3.1416
3.14159

In [49]:
print("Hello %s. you are %d years old" % (input("Enter your name"), int(input("Enter your age"))))

Enter your nameMike
Enter your age45
Hello Mike. you are 45 years old

Write a program to input hourly rate and hours worked then output total gross pay. Next input tax rate and output total tax and net pay.

Input -> Process -> Output

Input: hourly_rate, hours_worked, tax_rate
Output: gross_pay, total_tax, net_pay

algorithm

1. input hourly_rate
2. input hours_worked
1. gross_pay = hourly_rate * hours_worked
1. output gross_pay
1. input tax_rate
1. total_tax = tax_rate * gross_pay
1. net_pay = gross_pay - total_tax
1. print total_tax
1. print net pay

I for gjhdskafjhsd fkjhasdklfj

In [60]:
hourly_rate = float(input("Enter Hourly Rate: "))
hours_worked = float(input("Hours Worked: "))
gross_pay = hourly_rate * hours_worked
print("Gross Pay $ %.2f " % gross_pay)
tax_rate = float(input("Enter Tax Rate: "))
total_tax = tax_rate * gross_pay
net_pay = gross_pay - total_tax
print("Total Tax $ %.2f " %total_tax)
print("Net Pay $ %.2f " % net_pay)

Enter Hourly Rate: 10
Hours Worked: 15
Gross Pay $ 150.00
Enter Tax Rate: 0.25
Total Tax $ 37.50
Net Pay $ 112.50

In [56]:
type (hours_worked)

float