In [9]:
!pip install numba

Collecting numba
  Using cached https://files.pythonhosted.org/packages/b5/9b/7ad0a181b66d58334a2233f18fc8345e3ff17ea6f8db0eb59dc31182b6a9/numba-0.45.1-cp37-cp37m-manylinux1_x86_64.whl
Collecting llvmlite>=0.29.0dev0 (from numba)
  Using cached https://files.pythonhosted.org/packages/30/ae/a33eb9a94734889c189ba4b05170ac0ede05904db5d3dd31158cb33ac16e/llvmlite-0.29.0-1-cp37-cp37m-manylinux1_x86_64.whl
Requirement already satisfied: numpy in /opt/conda/lib/python3.7/site-packages (from numba) (1.17.1)
Installing collected packages: llvmlite, numba
Successfully installed llvmlite-0.29.0 numba-0.45.1

In [10]:
from numba import jit
import random
import time 

def timeit(method):
    def timed(*args, **kw):
        ts = time.time()
        result = method(*args, **kw)
        te = time.time()
        if 'log_time' in kw:
            name = kw.get('log_name', method.__name__.upper())
            kw['log_time'][name] = int((te - ts) * 1000)
        else:
            print ('%r  %2.2f ms' % (method.__name__, (te - ts) * 1000))
        return result
    return timed

In [11]:
@timeit
@jit(nopython=True)
def monte_carlo_pi_jit(nsamples):
    acc = 0
    for i in range(nsamples):
        x = random.random()
        y = random.random()
        if (x ** 2 + y ** 2) < 1.0:
            acc += 1
    return 4.0 * acc / nsamples


@timeit
def monte_carlo_pi(nsamples):
    acc = 0
    for i in range(nsamples):
        x = random.random()
        y = random.random()
        if (x ** 2 + y ** 2) < 1.0:
            acc += 1
    return 4.0 * acc / nsamples

In [12]:
monte_carlo_pi(100_000_000)
monte_carlo_pi_jit(100_000_000)

'monte_carlo_pi'  43197.80 ms
'monte_carlo_pi_jit'  1797.96 ms

3.14158252

In [6]:
monte_carlo_pi_jit(100_000_000)

'monte_carlo_pi_jit'  1321.12 ms

3.14158524

In [6]:
import pandas as pd
data = pd.read_csv("https://gist.githubusercontent.com/michhar/2dfd2de0d4f8727f873422c5d959fff5/raw/ff414a1bcfcba32481e4d4e8db578e55872a2ca1/titanic.csv", delimiter='\t')
data.sample(1)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
43,44,1,2,"Laroche, Miss. Simonne Marie Anne Andree",female,3.0,1,2,SC/Paris 2123,41.5792,NaN,C

In [13]:
name = "tony"
print(f"My name is {name}")

My name is tony